<div class="container  text-center p-4 shadow-lg p-3 mb-5 bg-body rounded">

  {{!-- <div class="text-center">
    <h2 class="text-center">CART</h2>
    <a href="/products" class="btn btn-warning my-2">Return to Menu</a>
  </div> --}}

  <div class="border text-center">
    <h1 class="p-1 m-1 text-uppercase ">CART</h2>
    <h5 class="text-danger">{{this.username}}</h3>
  </div>
      <a href="/products" class="btn btn-warning my-3 text-center">Return to Menu</a>



  <table class="container table table table-hover">
    <thead>
      <th>Id</th>
      <th>Title</th>
      <th>Thumbnail</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th>
      <th></th>
    </thead>

    <tbody>
      {{#each products}}
        <tr>
          <td>{{_id}}</td>
          <td>{{title}}</td>
          <td><a href="{{thumbnail}}">{{thumbnail}}</a></td>
          <td>${{price}}</td>
          <td>{{description}}</td>
          <td>{{category}}</td>
          <td>
            <form action="/cart" method="POST">
              <input type="hidden" name="id" value="{{_id}}" />
              <button type="submit" class="btn btn-warning m-1">Eliminar del Carrito</button>
            </form>
          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-warning my-2">Comprar</button>
  </div>

</div>